## CERN Single Sign-On
## Uncomment if you want to restrict the access to your files
#
# ShibRequireAll On
# ShibRequireSession On
# ShibExportAssertion On
# SSLRequireSSL
# AuthType Shibboleth
# 
# SSLVerifyClient optional
# SSLVerifyDepth 5
# SSLOptions +StrictRequire
# 
# # Authorized group 
# Require adfs-group "cms-private"

## END CERN SSO

SSLRequireSSL
AuthType shibboleth
ShibRequireSession On
ShibRequireAll On
ShibExportAssertion Off

Require valid-user
Require ADFS_GROUP "cms-web-access"

Options +Indexes
DirectoryIndex /missirol/index.php
